################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeamsWrapper/bin
/TeamsWrapper/obj
/TeamsWrapper.Tests/bin
/TeamsWrapper.Tests/obj
